openapi: 3.0.0

info:
  version: '1'
  title: 'XRF OAuth2 Initial Authentication Request API'
  description: |
    XRF OAuth2 Authorization server, initial authentication with the xApp API
  contact: 
    name: Tolga Atalay
    email: tolgaoa@vt.edu
servers: 
  - url: http://xrfapi.com
paths:
  /init/auth:
    post:
      summary: Initial Authentication Request
      operationId: InitAuthRequest
      tags:
        - Initial Authentication Request
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/InitAuthReq'
        required: true
      responses:
        '200':
          description: Successful Receipt of Authentication Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/InitAuthRsp'
          headers:
            Cache-Control:
              $ref: '#/components/headers/cache-control'
            Pragma:
              $ref: '#/components/headers/pragma'
            Accept-Encoding:
              description: Accept-Encoding, described in IETF RFC 7694
              schema:
                type: string
            Content-Encoding:
              description: Content-Encoding, described in IETF RFC 7231
              schema:
                type: string
        '400':
          description: Error in the initial authentication Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitAuthErr'
            application/problem+json:
              schema:
                $ref: '#components/schemas/ProblemDetails'
          headers:
            Cache-Control:
              $ref: '#/components/headers/cache-control'
            Pragma:
              $ref: '#/components/headers/pragma'
components:
  headers:
    cache-control:
      required: true
      schema:
        type: string
        enum:
          - no-store
    pragma:
      required: true
      schema:
        type: string
        enum:
          - no-cache
  schemas:
    InitAuthReq:
      description: Contains information related to the initial authentication request
      type: object
      required:
        - N
        - Hm1
        - R1
      properties:
        certificate:
          type: string
          enum:
            - client_certificate
        nfInstanceId:
          type: string
          format: uuid
          description: Universal Unique Identifier (UUID) specific to the xApp
        hxrfInitAuthUri:
          type: string
          description: URI formatted string

    InitAuthRsp:
      description: Contains information related to the initial authentication response
      type: object
      required:
        - Hm2
        - R2 
      properties:
        challenge:
          type: string
          description: Challenge for verifying the xApp that wants to authenticate
        xrfInstanceId:
          type: string
          format: uuid
          description: UUID specific to the XRF server

#    InitAuthClaims:
#      description: The claims data structure for the initial authentication request
#      type: object
#      required:
#        - N
#        - R1
#        - HM1
#        - privXRF
#        - pubxApp
#      properties:
#        rootCA:
#          type: string
#        pubkey:
#          type: string
#        identity:
#          type: string

    InitAuthErr:
      description: Error returned in the access token response message
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_client
            - unauthorized_client
        error_description:
          type: string
        error_uri:
          type: string

    ProblemDetails:
      description: Provides additional information in an error response.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/Uri'
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          $ref: '#/components/schemas/Uri'
    Uri:
      type: string
      description: String providing an URI formatted according to RFC 3986

