openapi: 3.0.0

info:
  version: '1'
  title: 'XRF OAuth2 Token Introspection Request API'
  description: |
    XRF OAuth2 Authorization server, token introspection API
  contact: 
    name: Tolga Atalay
    email: tolgaoa@vt.edu
servers: 
  - url: http://xrfapi.com
paths:
  /oauth/jwks:
    get:
      summary: Discover the set of xApp Instances offering a given service
      operationId: JWKSReq
      tags:
        - Request JWKS access
      parameters:
        - name: keyid
          in: query
          description: key id in the header of JWT to be validated
          schema:
            $ref: '#/components/schemas/JWKSKeyReq'
      responses:
        '200':
          description: successful key retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKSKeyRsp'
          headers:
            Cache-Control:
              $ref: '#/components/headers/cache-control'
            Pragma:
              $ref: '#/components/headers/pragma'
            Accept-Encoding:
              description: Accept-Encoding, described in IETF RFC 7694
              schema:
                type: string
            Content-Encoding:
              description: Content-Encoding, described in IETF RFC 7231
              schema:
                type: string
        '400':
          description: Error in key retrieval Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKSErr'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          headers:
            Cache-Control:
              $ref: '#/components/headers/cache-control'
            Pragma:
              $ref: '#/components/headers/pragma'
components:
  headers:
    cache-control:
      required: true
      schema:
        type: string
        enum:
          - no-store
    pragma:
      required: true
      schema:
        type: string
        enum:
          - no-cache
  schemas:
    TokenIntroReq:
      description: Contains information related to the token introspection request
      type: object
      required:
        - accessToken
        - xappInstanceId
        - targetxAppId
      properties:
        accessToken:
          type: string
          description: JWT created before and handed in for validation
        xappInstanceId:
          type: string
          format: uuid
          description: Universal Unique Identifier (UUID) specific to the xApp
        targetxAppId:
          type: string
          format: uuid
        hxrfTokenIntroUri:
          type: string
          description: URI formatted string

    JWKSKeyReq:
      description: Contains information related to the JWKS key request
      type: object
      required:
        - keyid
      properties:
        keyid:
          type: string
          description: key ID of the token up for validationz

    TokenIntroRsp:
      description: Contains information related to the token introspection response
      type: object
      required:
        - tokenValidity
        - tokenExp
      properties:
        tokenValidity:
          type: boolean
          description: Information on whether or not the token is valid
        tokenExp:
          type: integer

    JWKSKeyRsp:
      description: Contains information related to the JWKS key request response
      type: object
      required:
        - tokenValidity
        - tokenExp
      properties:
        tokenValidity:
          type: boolean
          description: Information on whether or not the token is valid
        tokenExp:
          type: integer

    TokenIntroClaims:
      description: The claims data structure for the token introspection 
      type: object
      required:
        - iss
        - sub
        - scope
        - exp
      properties:
        iss:
          type: string
          format: uuid
        sub:
          type: string
          format: uuid
        scope:
          type: string
          pattern: '^([a-zA-Z0-9_:-]+)( [a-zA-Z0-9_:-]+)*$'
        exp:
          type: integer

    TokenIntroErr:
      description: Error returned in the token introspection response message
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_client
            - unauthorized_token
        error_description:
          type: string
        error_uri:
          type: string

    JWKSErr:
      description: Error returned in the JWKS key response message
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_kid
            - unauthorized_token
        error_description:
          type: string
        error_uri:
          type: string
          
    ProblemDetails:
      description: Provides additional information in an error response.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/Uri'
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          $ref: '#/components/schemas/Uri'
    Uri:
      type: string
      description: String providing an URI formatted according to RFC 3986

