openapi: 3.0.0

info:
  version: '1'
  title: 'XRFc Service test API'
  description: |
    XRFc service testing API
  contact: 
    name: Tolga Atalay
    email: tolgaoa@vt.edu
servers: 
  - url: http://xrfapi.com
paths:
  /serv/test:
    post:
      summary: Service request test
      security:
        - oAuthSample:
            - write_info
            - read_info
      operationId: ServTestReq
      tags:
        - Service Test Request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServTestReq'
        required: true
      responses:
        '200':
          description: Successful service delivery
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ServTestRsp'
          headers:
            Cache-Control:
              $ref: '#/components/headers/cache-control'
            Pragma:
              $ref: '#/components/headers/pragma'
            Accept-Encoding:
              description: Accept-Encoding, described in IETF RFC 7694
              schema:
                type: string
            Content-Encoding:
              description: Content-Encoding, described in IETF RFC 7231
              schema:
                type: string
        '400':
          description: Error in service delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServTestErr'
            application/problem+json:
              schema:
                $ref: '#components/schemas/ProblemDetails'
          headers:
            Cache-Control:
              $ref: '#/components/headers/cache-control'
            Pragma:
              $ref: '#/components/headers/pragma'
security:
  - oAuthSample:
      - write_info
      - read_info
              
components:
  securitySchemes:
    oAuthSample:
      type: oauth2
      description: this API will require implicit OAuth 2 with grant flow
      flows:
        implicit:
          authorizationUrl: http://127.0.0.1/oauth2/auth/token
          scopes:
            read_info: read your info
            write_info: modify info in application

  headers:
    cache-control:
      required: true
      schema:
        type: string
        enum:
          - no-store
    pragma:
      required: true
      schema:
        type: string
        enum:
          - no-cache
  schemas:
    ServTestReq:
      description: Contains information related to the service test request
      type: object
      required:
        - service
        - accessType
      properties:
        certificate:
          type: string
          enum:
            - client_certificate
    
    ServTestRsp:
      description: Contains information related to the service test response
      type: object
      required:
        - serviceInfo
      properties:
        challenge:
          type: 
          description: Challenge for verifying the xApp is legitimate

    ServTestErr:
      description: Error returned in the service testresponse message
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_client
            - unauthorized_client
        error_description:
          type: string
        error_uri:
          type: string

    ProblemDetails:
      description: Provides additional information in an error response.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/Uri'
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          $ref: '#/components/schemas/Uri'
    Uri:
      type: string
      description: String providing an URI formatted according to RFC 3986

